.main-slide {
    background: url('../img/spalnibg.png') center/cover no-repeat;


.k1 {
    background: url('../img/spalni1.png') center/cover no-repeat;
}

.k2 {
    background: url('../img/spalni2.png') center/cover no-repeat;
}

.k3 {
    background: url('../img/spalni3.png') center/cover no-repeat;
}

.k4 {
    background: url('../img/spalni4.png') center/cover no-repeat;
}

.k5 {
    background: url('../img/spalni5.png') center/cover no-repeat;
}

.k6 {
    background: url('../img/spalni6.png') center/cover no-repeat;
}